.subreddits > div, .subreddits h2 {
    background-color: rgb(222, 222, 231);
    border-radius: 10px;
    border: 1px solid rgb(161, 161, 161);
}

.subreddits > div {
    align-self: flex-start;
}
.subreddits h2 {
    margin-bottom: 40px;
    padding: 10px;
}

.subreddits > div > div {
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.subreddits > div > div:hover, .subreddits h2:hover {
    background-color: rgb(173, 171, 171);
    cursor: pointer;
}

.subreddits img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
}
.subreddits h4 {
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subreddits hr {
    margin: 0;
}

.subreddits {
    position: sticky;
    top: 0;
    max-height: 98vh; 
    overflow-y: auto;
    scrollbar-width: none;
}

@media (max-width: 800px) {
    .subreddits {
        background-color: white;
        position: static;
    }
    .subreddits h2 {
        margin: 0 0 1em;
    }
    .subreddits > div {
        display: none;
    }
}
