.card {
    padding: 10px;
    border-top: 1px solid rgb(161, 161, 161);
}
.card:hover {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px 10px 0 0;
}

.card aside {
    display: flex;
    justify-content: space-between;
}
.card h2 {
    margin: 0;
    text-align: left;
}

.subreddit {
    font-weight: bolder;
    background-color: rgb(199, 187, 187);
    padding: 5px;
    border-radius: 10px;
}
.subreddit:hover {
    cursor: pointer;
    font-weight: bolder;
}

.textContent {
    text-align: justify;
    margin: 10px 0;
}

.textContent p {
    margin: 0;
}
.textContent a {
    display: block;
    margin: 0;
}

/*For feed results*/
.big {
    margin: 10px 0;
}

.big div {
    margin: 0 auto;
}

.media > img, .media > video {
    width: 80%;
    height: 500px;
    object-fit: contain;
    object-position: center;
    background-color: rgb(31, 31, 34);
    border: 1px solid rgb(31, 31, 34);
    border-radius: 10px;
    margin: 10px 0;
}

/*For card results*/
.small {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.small .textContent {
    max-height: 100px;
    overflow: hidden;
}

.small img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    background-color: black;
    margin: 10px 0 10px 10px;
}

