:root {
  box-sizing: border-box;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #000dff;
}
a:visited {
  color: #161a70;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
main > div:first-child {
  width: 20%;
}
main > div:last-child {
  width: 75%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 10px;
  margin: 0;
}

button {
  border-radius: 20px;
  background-color: rgb(222, 222, 231);
  border: 1px solid black;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: hsl(237, 100%, 70%);
  background-color: rgb(234, 234, 240);
}
